.filter_select {
    background-color: #D9D9D9;
    padding: 10px 18px;
    border-radius: 10px;
}

.container_table {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.btn_detail {
    background-color: #5900E5;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
}

.container_search {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}