.container_content {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 80px;

    .header_content {
        width: 100%;
        background-color: #5900E5;
        border-radius: 5px 5px 0 0;
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        border-bottom: 15px solid black;

        .tarot_reader_name {
            font-size: 26px;
            color: white;
            padding-left: 8%;
        }

        .container_status {
            display: flex;
            color: white;
            font-size: 20px;
            align-items: center;
            padding-right: 80px;
        }

        .status {
            background-color: #D9D9D9;
            color: black;
            padding: 5px 10px;
            border-radius: 20px;
        }
    }

    .detail_content {
        width: 100%;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        padding-right: 10px;
        text-align: justify;
    }

    .content_col {
        width: 50%;
        padding-top: 40px;
        padding-left: 8%;
        font-size: 20px;

        .content_row {
            display: flex;
            padding-bottom: 40px;

            .detail_lable{
                width: 25%;
                font-weight: bold;
            }

            .detail_content{
                width: 75%;
            }
        }
    }
}

.meetLink {
    background-color: #5900E5;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.btn_group {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding-bottom: 40px;

    .btn_primary {
        background-color: #5900E5;
        color: white;
        border-radius: 10px;
        padding: 5px 15px;
        margin-right: 40px;
        &:hover {
            opacity: 0.7;
        }
    }

    .btn_back {
        background-color: #D9D9D9;
        color: black;
        border-radius: 10px;
        padding: 5px 15px;
        margin-right: 70px;
        &:hover {
            opacity: 0.7;
        }
    }

    .btn_complaint {
        background-color: red;
        color: white;
        border-radius: 10px;
        padding: 5px 15px;
        margin-right: 40px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.image_preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.preview_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
